<!-- jumbotron -->
<div data-layout="top-navigation-1" data-sidebar="primary" data-navbar="primary" data-controller="dashboards" data-view="analytics">
    <div class="jumbotron-2">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <button ng-click="back_home()" class="btn btn-rounded btn-primary btn-outline">Back&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                <button ng-click="update()" class="btn btn-rounded btn-primary btn-outline"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Update</button>
                <header-analytic></header-analytic>
            </div>
        </div>
    </div>
    <!-- jumbotron -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 main">
                <div class="page-on-top">
                    <!-- dashboards/analytics -->
                    <top-analytics></top-analytics>
                    <div class="row m-b-40 ">
                        <div class="col-xs-12 col-xl-4 ">
                            <shortener-list-analytic></shortener-list-analytic>
                        </div>
                        <div class="col-xs-12 col-xl-8 ">
                            <components-analytic></components-analytic>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>